<!-- Start Breadcrumb 
    ============================================= -->
    <div
      class="breadcrumb-area shadow dark text-center bg-fixed text-light"
      style="background-image: url(assets/img/banner/2.jpg)"
    >
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>Live Exam</h1>
            <ul class="breadcrumb">
              <li>
                <a href="#"><i class="fas fa-home"></i> Home</a>
              </li>
              <li><a href="#">Page</a></li>
              <li class="active">Course</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- End Breadcrumb -->