<!-- Start Popular Courses 
    ============================================= -->
    <div class="popular-courses default-padding bottom-less without-carousel">
        <div class="container">
          <div class="row">
            <div class="popular-courses-items bottom-price">
              <!-- Single Item -->
              <div class="col-md-4 col-sm-6 equal-height">
                <div class="item">
                  <div class="thumb">
                    <a href="course-details.html">
                      <img src="assets/img/courses/7.jpg" alt="Thumb" />
                    </a>
                    <div class="overlay">
                      <a class="btn btn-theme effect btn-sm" href="#">
                        <i class="fas fa-chart-bar"></i> Enroll Now
                      </a>
                    </div>
                  </div>
                  <div class="info">
                    <h4>
                      <a href="course-details.html"
                        >Java Programming Masterclass</a
                      >
                    </h4>
                    <div class="cats">
                      <a href="#">Education</a>
                      <a href="#">Science</a>
                    </div>
                    <p>
                      Would day nor ask walls known. But preserved advantage are
                      but and certainty earnestly enjoyment.
                    </p>
                    <div class="bottom-info">
                      <ul>
                        <li><i class="fas fa-user"></i> 6,690</li>
                        <li><i class="fas fa-clock"></i> 16:00</li>
                      </ul>
                      <div class="price-btn">Free</div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End Single Item -->
              <!-- Single Item -->
              <div class="col-md-4 col-sm-6 equal-height">
                <div class="item">
                  <div class="thumb">
                    <a href="course-details.html">
                      <img src="assets/img/courses/2.jpg" alt="Thumb" />
                    </a>
                    <div class="overlay">
                      <a class="btn btn-theme effect btn-sm" href="#">
                        <i class="fas fa-chart-bar"></i> Enroll Now
                      </a>
                    </div>
                  </div>
                  <div class="info">
                    <h4>
                      <a href="course-details.html"
                        >Social Science & Humanities</a
                      >
                    </h4>
                    <div class="cats">
                      <a href="#">Social</a>
                      <a href="#">Online</a>
                    </div>
                    <p>
                      Would day nor ask walls known. But preserved advantage are
                      but and certainty earnestly enjoyment.
                    </p>
                    <div class="bottom-info">
                      <ul>
                        <li><i class="fas fa-user"></i> 6,690</li>
                        <li><i class="fas fa-clock"></i> 16:00</li>
                      </ul>
                      <div class="price-btn">Free</div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End Single Item -->
              <!-- Single Item -->
              <div class="col-md-4 col-sm-6 equal-height">
                <div class="item">
                  <div class="thumb">
                    <a href="course-details.html">
                      <img src="assets/img/courses/3.jpg" alt="Thumb" />
                    </a>
                    <div class="overlay">
                      <a class="btn btn-theme effect btn-sm" href="#">
                        <i class="fas fa-chart-bar"></i> Enroll Now
                      </a>
                    </div>
                  </div>
                  <div class="info">
                    <h4>
                      <a href="course-details.html"
                        >Actualized Leadership Network</a
                      >
                    </h4>
                    <div class="cats">
                      <a href="#">Online</a>
                      <a href="#">Source</a>
                    </div>
                    <p>
                      Would day nor ask walls known. But preserved advantage are
                      but and certainty earnestly enjoyment.
                    </p>
                    <div class="bottom-info">
                      <ul>
                        <li><i class="fas fa-user"></i> 8,690</li>
                        <li><i class="fas fa-clock"></i> 126:00</li>
                      </ul>
                      <div class="price-btn">Free</div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End Single Item -->
              <!-- Single Item -->
              <div class="col-md-4 col-sm-6 equal-height">
                <div class="item">
                  <div class="thumb">
                    <a href="course-details.html">
                      <img src="assets/img/courses/4.jpg" alt="Thumb" />
                    </a>
                    <div class="overlay">
                      <a class="btn btn-theme effect btn-sm" href="#">
                        <i class="fas fa-chart-bar"></i> Enroll Now
                      </a>
                    </div>
                  </div>
                  <div class="info">
                    <h4>
                      <a href="course-details.html"
                        >Machine Learning Management</a
                      >
                    </h4>
                    <div class="cats">
                      <a href="#">PHP</a>
                      <a href="#">Programming</a>
                    </div>
                    <p>
                      Would day nor ask walls known. But preserved advantage are
                      but and certainty earnestly enjoyment.
                    </p>
                    <div class="bottom-info">
                      <ul>
                        <li><i class="fas fa-user"></i> 8,690</li>
                        <li><i class="fas fa-clock"></i> 256:00</li>
                      </ul>
                      <div class="price-btn">Free</div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End Single Item -->
              <!-- Single Item -->
              <div class="col-md-4 col-sm-6 equal-height">
                <div class="item">
                  <div class="thumb">
                    <a href="course-details.html">
                      <img src="assets/img/courses/5.jpg" alt="Thumb" />
                    </a>
                    <div class="overlay">
                      <a class="btn btn-theme effect btn-sm" href="#">
                        <i class="fas fa-chart-bar"></i> Enroll Now
                      </a>
                    </div>
                  </div>
                  <div class="info">
                    <h4><a href="course-details.html">Online Programming</a></h4>
                    <div class="cats">
                      <a href="#">Education</a>
                      <a href="#">Science</a>
                    </div>
                    <p>
                      Would day nor ask walls known. But preserved advantage are
                      but and certainty earnestly enjoyment.
                    </p>
                    <div class="bottom-info">
                      <ul>
                        <li><i class="fas fa-user"></i> 6,690</li>
                        <li><i class="fas fa-clock"></i> 16:00</li>
                      </ul>
                      <div class="price-btn">Free</div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End Single Item -->
              <!-- Single Item -->
              <div class="col-md-4 col-sm-6 equal-height">
                <div class="item">
                  <div class="thumb">
                    <a href="course-details.html">
                      <img src="assets/img/courses/6.jpg" alt="Thumb" />
                    </a>
                    <div class="overlay">
                      <a class="btn btn-theme effect btn-sm" href="#">
                        <i class="fas fa-chart-bar"></i> Enroll Now
                      </a>
                    </div>
                  </div>
                  <div class="info">
                    <h4>
                      <a href="course-details.html">Elementary school courses</a>
                    </h4>
                    <div class="cats">
                      <a href="#">Networking</a>
                      <a href="#">Online</a>
                    </div>
                    <p>
                      Would day nor ask walls known. But preserved advantage are
                      but and certainty earnestly enjoyment.
                    </p>
                    <div class="bottom-info">
                      <ul>
                        <li><i class="fas fa-user"></i> 6,690</li>
                        <li><i class="fas fa-clock"></i> 16:00</li>
                      </ul>
                      <div class="price-btn">Free</div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End Single Item -->
            </div>
          </div>
        </div>
      </div>
      <!-- End Popular Courses -->